<!DOCTYPE html>
<html>
<head>

  <link rel="icon" href="https://ak9.picdn.net/shutterstock/videos/1008345439/thumb/10.jpg?ip=x480" type="image/x-icon">

  <% include partials/head %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

</style>
<body>

  <header>
      <% include partials/header %>
  </header>


<ul class="topnav">
  <li><a class="active" href="/index">Home</a></li>
  <li><a href="./task">Tasks</a></li>
  <li><a href="./group">Groups</a></li>
</ul>

<div style="padding:0 16px;">
  <h2 class="text-center">Pending Tasks List...</h2> <p class = "text-center" >
  <div class="row">
      <ul class="col-6 mx-auto">
          <% for(var i = 0; i < workList.length; i++) { %>
                <details>
                  <summary style="color:blue"> <%=workList[i][0]%> </summary> 
                  <p style="font-size:18px";><b>Heading  &nbsp;&emsp;:</b> <%=workList[i][0]%></p> 
                  <p style="font-size:18px";><b>Group    &emsp;&emsp;:</b> <%=workList[i][2]%></p> 
                  <p style="font-size:18px";><b>Deadline &emsp;:</b> <%=workList[i][3]%></p> 
                  <p style="font-size:18px";><b>Completed   &nbsp;:</b><style="color:red;"><mark> <%=workList[i][4]%></mark></p> 
                  <p style="font-size:18px";><b>Task &emsp;&emsp;&emsp;:</b> <%=workList[i][1]%></p> 
                </details>
              <br>
              
          <% } %>
      </ul>
  </div>
</div>
  
  <footer>
      <% include partials/footer %>
  </footer>

</body>
</html>
